JDX_DATABASE JDX:jdbc:mysql://localhost:3306/anand;USER=anand;PASSWORD=!Anand123;JDX_DBTYPE=MYSQL;DEBUG_LEVEL=5
JDBC_DRIVER com.mysql.jdbc.Driver
JDX_OBJECT_MODEL_PACKAGE com.softwaretree.jdxmysqlsakilaexample.reversed.json.model
JDX_SUPERCLASS_NAME com.softwaretree.jdx.JDX_JSONObject
JDX_GENERATE_ACCESSOR_METHODS FALSE
JDX_GENERATE_JSON_MAPPINGS TRUE
;
REM ****************************************************************
CLASS Customer TABLE Customers
;
CLASS Category TABLE Categories
;
CLASS User TABLE Users
;
CLASS UserProfile TABLE UserProfiles
;
CLASS Order TABLE Orders
;
CLASS OrderItem TABLE OrderItems
;
